LANGSMITH_TRACING=
LANGSMITH_ENDPOINT=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=

GOOGLE_API_KEY=

OLLAMA_BASE_URL="http://127.0.0.1:11434"

# PostgreSQL Settings
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=rag_system_db

# Async Database URL for SQLAlchemy
DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}

QDRANT_URL=http://localhost:6333
QDRANT_API_KEY=
QDRANT_COLLECTION=documents